body {
  font-family: Helvetica;
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  text-align: left;
  background-color: black;
  padding: 1rem 2rem;
}

h3 {
  background-color: black;
  padding: 1.5rem;
  text-align: center;
}

p {
  color: black;
  padding: 7px;
}

.container-main {
  margin: 0 auto;
  width: 960px;
    /*padding: 0px 100px;*/
}

header {
  width: 100%;

}

.logo {
  background-color: black;
  padding: .66rem;

}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.logo span {
  vertical-align: super;
}

.headercontainer {
  height: 25rem;
  width: 100%;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  display: flex;
}

.newarrival {
  background-color: black;
  height: 9rem;
  width: 20rem;
  padding: 2rem 3rem;

}

.content {
  padding: .25rem;
  font-style: bold;
}

nav {
  background-color: firebrick;
  width: 100%;
  padding: .75rem;
  display: flex;
  justify-content: space-around;
}

.productcontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.productcontainer img {
  height: 9rem;
  width: 9rem;
  border: 4px black solid;
  padding: 2rem;
}

.locationcontainer {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.locationhour {
  width: 35%;
  padding: 1rem 2rem;
}


footer {
  background-color: black;
  height: 5rem;
  width: 100%;
  text-align: left;
  margin-top: 4rem;
}
